---
import TypeBadge from './TypeBadge.astro';
import LocationBadge from './LocationBadge.astro';
import { Company, JobPosting, JobType } from 'astro:db';
import { Image } from 'astro:assets';

interface Props {
  job: typeof JobPosting.$inferSelect;
  company: typeof Company.$inferSelect;
  type: typeof JobType.$inferSelect;
}

const { job, company, type } = Astro.props;
---

<li class='flex flex-col bg-white dark:bg-black rounded-sm p-6'>
  <div class='flex flex-col md:flex-row md:justify-between md:items-start'>
    <div class='flex md:flex-row flex-col items-center gap-4'>
      <Image alt="" src={company.logo} class='rounded-md flex-shrink-0 size-20' inferSize />
      <div class="md:text-left text-center">
        <h4>{job.title}</h4>
        <p class=''>
          <span class='font-semibold'>{company.title}</span>: {job.description}
        </p>
      </div>
    </div>
    <a href={`/jobs/${job.id}`} class='mx-auto md:mx-0 mt-4 md:mt-0 button button-primary w-40 text-center'
      >Read more</a
    >
  </div>
  <hr class='my-6 dark:border-gray-800' />
  <div class='flex sm:flex-row flex-col gap-4 justify-between items-center'>
    <div class='flex gap-2'>
      <TypeBadge>{type.title}</TypeBadge>
      <LocationBadge>{job.location}</LocationBadge>
    </div>
    <p class='font-mono text-sm'>
      Posted on {new Date(job.posted).toLocaleDateString()}
    </p>
  </div>
</li>
